.logo{
    width: 80px;
    border-radius: 50%;
}
.FaSearch{
    color: white;
}
.searchBox{
 
}
.categories{
    height: 100%;
    background-color: white;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #ececec;
    border-top-left-radius:60px ;
    margin-right: 5px;
    border-bottom-left-radius:60px ;
 
    
}
.login{
    border: none;
    background-color: #fec30d;
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-left: 16px;
    color: white;  
    letter-spacing: 2px;
    border-radius: 5px;
}
.sellerBtn{
    background-color: #f7941d;
    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 15px;
    color:white;
}

.rs-navbar-nav > .rs-dropdown .rs-dropdown-toggle {
    padding-right: 36px;
    font-size: 18px;
    color: black;
  }
  .rs-navbar-default{
      display: flex;
      justify-content: center;
  }
  .rs-btn-icon-with-text.rs-btn.rs-btn-icon-placement-left {
  padding:9px !important;
  margin-right: 5px;
}

.rs-drawer-content{
    margin-top: 40% !important;

}
.rs-modal-dialog{
    margin-top: 30%;
}
.rs-drawer-content {
border-radius: 40px !important;
}
.googleBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 234px;
    padding: 8px;
    font-family: poppins;
    font-weight: 600;
    border-radius: 8px;
    background-color: white;
    border: 1px solid rgb(185, 174, 174);
}
.facebookBtn{
    margin-top: 10px;
    background-color: #3b5998;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 234px;
    padding: 8px;
    padding-right: 18px;
    font-family: poppins;
    font-weight: 600;
    border-radius: 8px;
 color: white;
    border: 1px solid rgb(185, 174, 174);
}
.loginBtn{
    color:white;
    font-family: poppins;
    font-weight: 600;
    width: 100%;
    background-color: #ff725e;
    border-radius: 10px;
    padding:10px;
    box-shadow: rgb(243, 92, 4) 0px 20px 30px -10px;
}
.rs-btn-primary{
    background-color: #ff725e !important;
    box-shadow: rgba(235, 101, 11, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}
.rs-drawer-body{
    padding-top: 15px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.rs-toast-container{
    float: right !important;
}
.rs-notification-content{
    float: right;
}

  @media (max-width:767px) { 
    .desktopNav {display: none;}
    .rs-drawer-content{
        margin-top: 10%!important;
        margin-right: 20% !important;
    
    }
  }

  @media (min-width:766px) { 
   .mobileNav{
       display: none;
   }
  }