.bgOne{
    background-image: url("/public/slide1-bg.jpg");
    width: 100%;
    background-size: cover;
    height: 90vh;
    padding-left:20%;
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.bgTwo{
    background-image: url("/public/slide2-bg.jpg");
    width: 100%;
    background-size: cover;
    height: 90vh;
  text-align: center;
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.control-prev,.control-next{
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-top: 30% !important;
    padding: 5px !important;
    background-color: red !important;
  height: 50px !important;
  width: 50px !important;
}
.control-arrow{
    opacity: 20 !important;
}
.carousel-status{
    display: none !important;
}